html, body {
  height: 100%;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

body { 
  margin:0px;
  margin-left: 12px;
  margin-right: 12px;
  background-color: #ffffff;
  font-size: 1em;
  color: #777;
}

#auth {
  float: right;
  margin-right: 32px;
  font-size: 75%;
}

#auth a, #auth a:visited, #auth a:hover {
  margin-right: 12px;
  font-family: sans-serif;
  text-decoration: none;
}

#ajax {
  position: absolute;
  text-align: right;
  top: 2px;
  right: 3px;
  width: 20px;
  height: 20px;
  display: none;
}

.header {
  padding: 4px 4px 2px 4px;
}

div.title {
  float: left;
  font-size: 65%;
}

div.header_menu {
  height: 37px;
  margin-bottom: 4px;
  color: #bbbbbb;
  background: -moz-linear-gradient(top,  rgba(132,132,132,1) 0%, rgba(109,109,109,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(109,109,109,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(132,132,132,1) 0%,rgba(109,109,109,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(132,132,132,1) 0%,rgba(109,109,109,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(132,132,132,1) 0%,rgba(109,109,109,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(132,132,132,1) 0%,rgba(109,109,109,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#848484ff', endColorstr='#6d6d6dff',GradientType=0 ); /* IE6-9 */  
  vertical-align: middle;
  clear: both;
}

div.header_menu_item {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 85%;
  border-right: 1px solid #ffffff;
  height: 37px;
  line-height: 37px;
  font-weight: bold;
}

div.header_menu_item_selected {
  float: left;
  padding: 1px 2px 1px 2px;
  margin-right: 4px; 
  background: rgba(94,94,94,1);
  cursor: pointer;
  font-size: 85%;
}

div.header_menu_item:hover {
  background: rgba(94,94,94,1);
  cursor: pointer;
}

.buttonBar {
  float: right;
}

#logo {
  background: url(forgeide-icon.png) top left no-repeat; 
  width: 142px;
  height: 40px;
  position: relative;
  float: left;
}

div#ide {
  margin-top: 2px;
  position: absolute;
  top: 40px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

div#menu {
  height: 22px;
}

div.codeTabPanel {
  height: 100%;
}

div.ace_editor {
  height: 100%;
}

#headerMenu {
  float: right;
}

#content {
  clear: both;
}

.projects_content {
  padding: 20px 20px 20px 20px;
}

.project_detail {
  float: left;
  width: 230px;
  height: 310px;
  text-align: center;
  border: 1px solid #d9d9d9;
  margin-top: 12px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
}

.project_image {
  margin-top: 18px;
  margin-bottom: 18px;
  margin-left: auto;
  margin-right: auto;
  width: 160px;
  height: 90px;
  background-color: #e0e0e0;
  border: 1px solid #d5d5d5;
}

.project_name {
  clear: both;
  color: #333333;
  text-align: center;
  font-size: 120%;
}

.project_description {
  text-align: center;
  margin-top: 12px;
  margin-left: 12px;
  margin-right: 12px;
  font-size: 80%;
}

.content_title {
  font-size: 120%;
  color: #333333;
}

.splitter {
  width: 4px;
  background: url(splitter_grip.png) center center no-repeat;
  background-color: #dddddd;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #cccccc;
  cursor: ew-resize;
}

.tabHeader {
  z-index: 1;
}

.tabHeader div {
  color: #000000;
  font-size: 0.8em;
  padding-top: 4px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 2px;
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -moz-top-left-border-radius: 4px;
  -moz-top-right-border-radius: 4px;
  -webkit-top-left-border-radius: 4px;
  -webkit-top-right-border-radius: 4px;
  box-shadow: inset 0 1px 3px #ddd; 
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 10%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(10%,rgba(0,0,0,0.1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 10%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 10%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 10%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 10%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.tabHeader div.active {
  border-bottom: 1px solid #ffffff;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,255,0.2) 10%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(10%,rgba(0,0,255,0.2)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,255,0.2) 10%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,255,0.2) 10%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,255,0.2) 10%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,255,0.2) 10%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.tabContent {
  border: 1px solid #cccccc;
}

/* Command UI popup window styles */

.popupUI {
  background-color: #ffffff;
  overflow: auto;
  position: absolute;
  top: 32px;
  bottom: 42px;
  width: 100%; 
}

.popupUI label {
  font-size: 75%;
}

.popupUI p {
  margin-left: 8px;
}

.popupFooter {
  position: absolute;
  border-top: 1px solid #999999;
  background-color: #777;
  bottom: 0px;
  height: 42px;
  width: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  -moz-bottom-left-border-radius: 8px;
  -moz-bottom-right-border-radius: 8px;
  -webkit-bottom-left-border-radius: 8px;
  -webkit-bottom-right-border-radius: 8px;
}

.popupFooter button {
  margin-right: 12px;
  margin-top: 4px;
}

div.xwPopupBackground {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;  
}

div.xwPopupWindow  {
  border: 2px solid #777;
  -webkit-border-radius:12px;
  -moz-border-radius:12px;
  border-radius:12px;
  padding: 0px;
}

div.xwPopupTitle {
  font-size: 20px;
  color: #ffffff;  
  background-color: #777;
  font-weight: normal;
  padding: 4px;
  border-bottom: 1px solid #999999;
  height: 32px;
  
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -moz-top-left-border-radius: 8px;
  -moz-top-right-border-radius: 8px;
  -webkit-top-left-border-radius: 8px;
  -webkit-top-right-border-radius: 8px;  
}

div.xwPopupCloseButton {
  position: absolute;
  top: -12px;
  right: -15px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  background: url('close_button.png') top left no-repeat;
}

.pure-button {
  border-radius: 8px;
}

#popupOverlay {
  display: none;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #000;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
  color: #fff;
}

#popupOverlay i {
  margin-right: 12px;
}

#popupOverlay div {
  margin-top: 24px;
  text-align: center;
}

#command_executing i {
  color: #ffff00;
}

#command_successful i {
  color: #33CC33;
}

#command_failed i {
  color: #CC0000;
}

#command_message {
  color: #fff;
  position: absolute;
  left: 4px;
  right: 4px;
  bottom: 48px;
  top: 48px;
  text-align: left !important;
  font-family: courier;
  font-size: 0.8em;
  overflow: auto;
}

#command_failed {
}

div.projectExplorer {
  position: absolute;
  top: 28px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

